# Ignorar virtual env
backend/venv/

# Ignorar archivos .env generales
*.env
.env
.env.*
backend/.env

# Incluid .env del front
!frontend/.env.prod

# Otros archivos comunes a ignorar
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
node_modules/